recursive-include ploneterminal *.css
recursive-include ploneterminal *.js
recursive-include ploneterminal *.pt
recursive-include ploneterminal *.zcml
recursive-include ploneterminal *.txt
recursive-include ploneterminal *.ico
recursive-include ploneterminal *.jpg
recursive-include ploneterminal *.gif
